In [2]:
import pandas as pd
import json

# Eurovision Data

## Download

In [7]:
!sh data/eurovision/download_data.sh

--2024-12-16 11:06:58--  https://github.com/Spijkervet/eurovision-dataset/releases/download/2023/votes.csv
Translacja github.com (github.com)... 140.82.121.3
Łączenie się z github.com (github.com)|140.82.121.3|:443... połączono.
Żądanie HTTP wysłano, oczekiwanie na odpowiedź... 302 Found
Lokalizacja: https://objects.githubusercontent.com/github-production-release-asset-2e65be/214236225/f53c0b82-7a11-4c48-adbc-7db0b47a7a45?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20241216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241216T100658Z&X-Amz-Expires=300&X-Amz-Signature=18c2df42f114bf68c5866fe1dcc4d1170f64988f89a449dfb470c10dd3be1b85&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dvotes.csv&response-content-type=application%2Foctet-stream [podążanie]
--2024-12-16 11:06:58--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/214236225/f53c0b82-7a11-4c48-adbc-7db0b47a7a45?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20241216%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241216T100658Z&X-Amz-Expires=300&X-Amz-Signature=18c2df42f114bf68c5866fe1dcc4d1170f64988f89a449dfb470c10dd3be1b85&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dvotes.csv&response-content-type=application%2Foctet-stream
Translacja objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Łączenie się z objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... połączono.
Żądanie HTTP wysłano, oczekiwanie na odpowiedź... 200 OK
Długość: 1509617 (1,4M) [application/octet-stream]
Zapis do: `data/eurovision/votes.csv'

data/eurovision/vot 100%[===================>]   1,44M  2,12MB/s     w 0,7s

2024-12-16 11:07:00 (2,12 MB/s) - zapisano `data/eurovision/votes.csv' [1509617/1509617]

In [171]:
euro = pd.read_csv('data/eurovision/votes.csv')
euro.dropna().head(20)

,year,round,from_country_id,to_country_id,from_country,to_country,total_points,tele_points,jury_points
39613,2016,final,al,ua,al,ua,6,6.0,0.0
39614,2016,final,al,au,al,au,24,12.0,12.0
39615,2016,final,al,ru,al,ru,14,7.0,7.0
39616,2016,final,al,bg,al,bg,12,8.0,4.0
39617,2016,final,al,se,al,se,3,3.0,0.0
39618,2016,final,al,fr,al,fr,10,0.0,10.0
39619,2016,final,al,am,al,am,2,2.0,0.0
39620,2016,final,al,pl,al,pl,5,5.0,0.0
39621,2016,final,al,lt,al,lt,4,4.0,0.0
39622,2016,final,al,be,al,be,0,0.0,0.0
39623,2016,final,al,nl,al,nl,0,0.0,0.0
39624,2016,final,al,mt,al,mt,2,0.0,2.0
39625,2016,final,al,at,al,at,0,0.0,0.0
39626,2016,final,al,il,al,il,3,0.0,3.0
39627,2016,final,al,lv,al,lv,0,0.0,0.0
39628,2016,final,al,it,al,it,18,10.0,8.0
39629,2016,final,al,az,al,az,0,0.0,0.0
39630,2016,final,al,rs,al,rs,0,0.0,0.0
39631,2016,final,al,hu,al,hu,2,1.0,1.0
39632,2016,final,al,ge,al,ge,0,0.0,0.0

## Clean

In [172]:
unid = pd.Series(list(euro['from_country_id'].unique()) + list(euro['to_country_id'].unique())).unique()

In [173]:
with open("data/eurovision/abbreviations.json") as f:
    translate_country = json.load(f)

In [174]:
translate_country['at']

'Austria'

In [175]:
try:
    result
except NameError:
    try:
        result = pd.read_csv("data/minorities/_eurostat_cleared_data.csv")
    except Exception:
        print("Please run <Minorities data> section first")
        
to_drop = []
for x in [translate_country[i] for i in unid]:
    if x not in result['citizen_name'].unique():
        to_drop.append(x)
to_drop

['Yugoslavia (former)',
 'Serbia and Montenegro (former)',
 'Montenegro',
 'Serbia',
 'World']

### Minorities data clash
Above countries will be excluded form the research, as no minorities data have been found for them.

In [176]:
euro['from_country'] = euro['from_country'].apply(lambda x: translate_country[x])
euro['to_country'] = euro['to_country'].apply(lambda x: translate_country[x])

In [177]:
euro.head()

,year,round,from_country_id,to_country_id,from_country,to_country,total_points,tele_points,jury_points
0,1957,final,at,nl,Austria,Netherlands,6,NaN,NaN
1,1957,final,at,fr,Austria,France,0,NaN,NaN
2,1957,final,at,dk,Austria,Denmark,0,NaN,NaN
3,1957,final,at,lu,Austria,Luxembourg,3,NaN,NaN
4,1957,final,at,de,Austria,Germany,0,NaN,NaN

In [178]:
euro = euro[
    ~euro['from_country'].isin(to_drop) &
    ~euro['to_country'].isin(to_drop)
]

### Round trimming
Due to internal consistency, we are going to analyze only the finals scores. Some years do not have records of semi-finals

In [179]:
euro['round'].value_counts()

round
final           35129
semi-final-2     4758
semi-final-1     4475
semi-final       3513
Name: count, dtype: int64

In [180]:
euro = euro[euro['round'] == 'final']
euro

,year,round,from_country_id,to_country_id,from_country,to_country,total_points,tele_points,jury_points
0,1957,final,at,nl,Austria,Netherlands,6,NaN,NaN
1,1957,final,at,fr,Austria,France,0,NaN,NaN
2,1957,final,at,dk,Austria,Denmark,0,NaN,NaN
3,1957,final,at,lu,Austria,Luxembourg,3,NaN,NaN
4,1957,final,at,de,Austria,Germany,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
51322,2023,final,gb,si,United Kingdom,Slovenia,1,0.0,1.0
51323,2023,final,gb,al,United Kingdom,Albania,0,0.0,0.0
51324,2023,final,gb,pt,United Kingdom,Portugal,0,0.0,0.0
51326,2023,final,gb,gb,United Kingdom,United Kingdom,0,0.0,0.0
51327,2023,final,gb,de,United Kingdom,Germany,0,0.0,0.0

### Standarization
Due to format changes, there is no recorded data on tele_points (voting points) before 2018. Moreover, the eurovision scores have been a subject to about 11 different voting systems, rendering the points therefore a lot less meaningfull as a raw data.

Thus, it was decided to reparametrize the points by focusing on the percentatge of the total points awarded in the overall points cast for a given year standardized by an amount of researched countries in a competition.

In [181]:
points_cap = euro[['year', 'total_points']].groupby('year').sum().rename(columns={'total_points': 'points_cap'})
points_cap.head()

      points_cap
year
1957         100
1958         100
1959         110
1960         130
1961         141

In [182]:
countries_in_game = euro[['year', 'from_country']].groupby('year').nunique().rename(columns={'from_country': 'country_amount'})
countries_in_game.head()

      country_amount
year
1957              10
1958              10
1959              11
1960              13
1961              15

In [183]:
euro = euro.merge(points_cap, on='year')
euro = euro.merge(countries_in_game, on='year')

In [184]:
euro.head()

,year,round,from_country_id,to_country_id,from_country,to_country,total_points,tele_points,jury_points,points_cap,country_amount
0,1957,final,at,nl,Austria,Netherlands,6,NaN,NaN,100,10
1,1957,final,at,fr,Austria,France,0,NaN,NaN,100,10
2,1957,final,at,dk,Austria,Denmark,0,NaN,NaN,100,10
3,1957,final,at,lu,Austria,Luxembourg,3,NaN,NaN,100,10
4,1957,final,at,de,Austria,Germany,0,NaN,NaN,100,10

In [195]:
import numpy as np
euro['promil_scale'] = (euro['total_points'] * 1000 / (euro['points_cap'] * euro['country_amount'])).astype(np.float64)

In [186]:
euro.head()

,year,round,from_country_id,to_country_id,from_country,to_country,total_points,tele_points,jury_points,points_cap,country_amount,promil_scale
0,1957,final,at,nl,Austria,Netherlands,6,NaN,NaN,100,10,6.0
1,1957,final,at,fr,Austria,France,0,NaN,NaN,100,10,0.0
2,1957,final,at,dk,Austria,Denmark,0,NaN,NaN,100,10,0.0
3,1957,final,at,lu,Austria,Luxembourg,3,NaN,NaN,100,10,3.0
4,1957,final,at,de,Austria,Germany,0,NaN,NaN,100,10,0.0

In [200]:
euro[['year', "from_country", "to_country", "promil_scale"]].to_csv('./data/eurovision/cleaned_data.csv')

# Minorities Data

## Download

In [ ]:
## Eurostat data from: https://ec.europa.eu/eurostat/databrowser/view/cens_01nsctz/default/table?lang=en&category=cens.cens_01.cens_01n.cens_01nstr

In [25]:
import requests

/Users/richard/.local/share/virtualenvs/WUT-TASS-Eurovision-vs-Minorities-uptITIZM/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [65]:
with open("data/minorities/_mapping.json") as f:
    mapping = json.load(f)

In [67]:
def download_country(id: str, continent: str = 'europe', map_country = None, info=False, error=False):
    file_url = f"https://raw.githubusercontent.com/factbook/factbook.json/refs/heads/master/{continent}/{id}.json"

    # Local file path where you want to save the downloaded file
    try:
        output_path = f"data/minorities/{map_country[id]}.json"
    except Exception:
        if error:
            print(f'Mapping failed for id: {id}...')
        output_path = f"data/minorities/{id}.json"

    # Perform the download
    response = requests.get(file_url)
    if response.status_code == 200:
        with open(output_path, "wb") as file:
            file.write(response.content)
        if info:
            print(f"File downloaded successfully and saved to {output_path}")
        return None
    else:
        if info:
            print(f"Failed to download file for {id} on continent {continent}")
        return id

In [72]:
continents = ['africa', 'australia-oceania', 'central-asia', 'east-n-southeast-asia', 'middle-east','north-america','oceans', 'south-america', 'south-asia', 'central-america-n-caribbean']

In [69]:
countries_abbreviations = [mapping[translate_country[id]] if translate_country[id] in mapping.keys() else id for id in euro['from_country_id'].unique()]

In [70]:
reversed_map = {v: k for k, v in mapping.items()}

In [73]:
for id in countries_abbreviations:
    x = download_country(id, map_country=reversed_map)
    if x is not None:
        for cont in continents:
            x = download_country(id, continent=cont, map_country=reversed_map)
            if x is None:
                break
        if x is not None:
            print(f'Could not download country with id {id}: {reversed_map[id] if id in reversed_map.keys() else "No interpretation..."}')

Could not download country with id yu: No interpretation...
Could not download country with id wld: No interpretation...

## Clean

In [4]:
df = pd.read_csv("./data/minorities/_estat_cens_01nsctz.tsv", sep='\t')

In [5]:
df_split = df['freq,citizen,age,sex,unit,geo\TIME_PERIOD'].str.split(',', expand=True)
df_split.columns = [i for i in 'freq,citizen,age,sex,unit,geo\TIME_PERIOD'.split(',')]
df_split

       freq citizen    age sex unit geo\TIME_PERIOD
0         A      AD  TOTAL   F  PER              BE
1         A      AD  TOTAL   F  PER              CH
2         A      AD  TOTAL   F  PER              CY
3         A      AD  TOTAL   F  PER              CZ
4         A      AD  TOTAL   F  PER              EE
...     ...     ...    ...  ..  ...             ...
240663    A      ZW  Y_LT5   T  PER              NL
240664    A      ZW  Y_LT5   T  PER              NO
240665    A      ZW  Y_LT5   T  PER              SE
240666    A      ZW  Y_LT5   T  PER              SK
240667    A      ZW  Y_LT5   T  PER              TR

[240668 rows x 6 columns]

In [6]:
df = pd.concat([df, df_split], axis=1).drop(columns=['freq,citizen,age,sex,unit,geo\\TIME_PERIOD'])

In [7]:
with open("data/minorities/_eurostat_country_shortcuts.json") as f:
    eurostat = json.load(f)

In [8]:
df['citizen'].value_counts()

citizen
EUR        1623
TOTAL      1623
EU_FOR     1621
DE         1618
EUR_C_E    1612
           ...
DEW         357
TW          114
EU_OTH       57
STLS         57
OCE_OTH       9
Name: count, Length: 226, dtype: int64

In [9]:
df['citizen_name'] = [eurostat['country_codes'][i] if i in eurostat['country_codes'].keys() else "Unknown" for i in df['citizen'].values]

In [10]:
df['minority_name'] = [eurostat['country_codes'][i] if i in eurostat['country_codes'].keys() else "Unknown" for i in df['geo\TIME_PERIOD'].values]

In [11]:
df.columns

Index(['2001 ', 'freq', 'citizen', 'age', 'sex', 'unit', 'geo\TIME_PERIOD',
       'citizen_name', 'minority_name'],
      dtype='object')

In [18]:
df["2001 "] = pd.to_numeric(df["2001 "], errors="coerce")

In [ ]:
result = df.groupby(["citizen_name", "minority_name"], as_index=False)["2001 "].sum().reset_index(drop=True)
result.head()

  citizen_name   minority_name   2001
0  Afghanistan         Austria  7052.0
1  Afghanistan         Belgium   920.0
2  Afghanistan        Bulgaria  1212.0
3  Afghanistan          Cyprus    16.0
4  Afghanistan  Czech Republic   636.0

In [22]:
result = result.rename(columns={"2001 ": "head_count"})

In [24]:
result.to_csv("./data/minorities/_eurostat_cleared_data.csv", index=False)